{% extends '::base.html.twig' %}
{% block title %}
    {{ parent() }} - Exam List
{% endblock %}
{% block content %}
<h1>Exams list</h1>

<ul>
    {% for exam in exams %}
        <li>{{ exam.name }} - {{ exam.description }} - {{ exam.date|date('Y-m-d') }}</li>
    {% endfor %}
</ul>
{% endblock %}