{% extends '::base.html.twig' %}
{% block title %}
    {{ parent() }} - Add student
{% endblock %}
{% block content %}
    <title>Add a student</title>

    {{ form_start(form) }}
        {{ form_rest(form) }}

    <input type="submit" value="Save" class="btn btn-default" name="save">
    {{ form_end(form) }}
{% endblock %}