{% extends '::base.html.twig' %}
{% block title %}
    {{ parent() }} -  Update a student
{% endblock %}
{% block content %}
<h1 class="text-center">Update a student</h1>

  {{ form_start(form) }}
  {{ form_rest(form) }}

  <input class="btn-or" type="submit" value="Sauvegarder" />
{% endblock %}
