{% extends '::base.html.twig' %}
{% block title %}
    {{ parent() }} - Admin list
{% endblock %}
{% block content %}
<h1 class="text-center">Add an admin</h1>

{{ form_start(form) }}
  {{ form_rest(form) }}

  <input class="btn-or" type="submit" value="Save" />
    {{ form_end(form) }}
{% endblock %}
