{% extends '::base.html.twig' %}
{% block title %}
    {{ parent() }} - Admin list
{% endblock %}
{% block content %}
    <title>Add a student</title>

    {{ form_start(form) }}
    {{ form_rest(form) }}

    <input type="submit" value="Save" class="btn btn-default">
    {{ form_end(form) }}
{% endblock %}