{% extends '::base.html.twig' %}
{% block title %}
    {{ parent() }} - Add grade
{% endblock %}
{% block content %}
<h2> Découvrez toutes les notes des élèves en fonction de chaque examen avec notre magnifique site web </h2>

{% endblock %}
