{% extends '::base.html.twig' %}
{% block title %}
    {{ parent() }} - Add grade
{% endblock %}
{% block content %}
<h1 class="text-center">Add a grade</h1>

{{ form_start(form) }}
  {{ form_rest(form) }}

  <input class="btn-or" type="submit" value="Save" />
{{ form_end(form) }}
{% endblock %}
