{% extends '::base.html.twig' %}
{% block title %}
    {{ parent() }} - Grade list
{% endblock %}
{% block content %}
<h1>Grades list</h1>

<ul>
    {% for grade in grades %}
        <li class="form-control"> note :{{ grade.mark }} - Etudiant: {{ grade.student }} - Examen: {{ grade.exam }}</li>
    {% endfor %}
</ul>
{% endblock %}