{% extends '::base.html.twig' %}
{% block title %}
    {{ parent() }} - Grade list
{% endblock %}
{% block content %}
<h1 class="text-center">Grades list</h1>

<div class="col-md-12">
  <table class="table table-striped ">
    <thead>
      <tr>
        <th>Élève</th>
        <th>Examen</th>
        <th>Note</th>
      </tr>
    </thead>
    <tbody>
    {% for grade in grades %}
          <tr>
            <td>{{ grade.student }}</td>
            <td>{{ grade.exam }}</td>
            <td>{{ grade.mark }}</td>
          </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
